 body{
     background-image: url(https://1.bp.blogspot.com/-16-1ri1Xy10/Xq3QJXVdwpI/AAAAAAAAW2c/tj0nuw6_-roXMsL5C2Cz-fZqfRbjcnGLACLcBGAsYHQ/s1600/09.jpg);
   /*  opacity: inherit;  */
} 
 #title{
    background-image: url(https://i.pinimg.com/originals/2d/87/24/2d87249e2308efa9171160bcc9a9e0bc.jpg);
    border-radius: 8px;
   /*  padding-top: 8px;
    padding-bottom: 5px;
    padding-left:  5px; */
    text-align: center;
    color: whitesmoke;
    font-size: 85px;
    position:-webkit-sticky;
    position:sticky;
    top: 10px;
    z-index:1;
             
    /* background-attachment: fixed; */
 }


 .letras{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: bold;

 }
 .encabezados{
    font-family: 'Galindo', cursive;
    
 }
 .square{
    list-style-type: square;
 }


