.c1{
    font-family: 'MedievalSharp', cursive;
    color:rgb(209, 13, 13);

}

.c2{
    font-family: 'Sniglet', cursive;
    color: rgb(22, 86, 170);
    
}
.c3{
    
    font-family: 'Ubuntu Condensed', sans-serif;
    color: greenyellow;

}
.c4{
    
    font-family: 'Six Caps', sans-serif;
    color: indigo;

}
.c5{
    
    font-family: 'Great Vibes', cursive;

}